@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Gloria+Hallelujah|Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  background: #fff url('../images/hip-square.png') repeat;
  font-family: 'Muli', sans-serif;
}

.navbar.navbar-default {
  background: #fff url('../images/zig zag wool.png');
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar.navbar-default a,
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
}

.navbar.navbar-default a:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #5261a7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #5261a7;
  background: transparent;
}

ul.success li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  list-style-type: none;
  font-size: 18px;
}

ul.error li {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #dff0d8;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
  list-style-type: none;
  font-size: 18px;
}